<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
    <link rel="stylesheet" type="text/css" href="/textstyle.css">
    <link rel="stylesheet" type="text/css" href="/picturestyle.css">
</head>
<body>
<h1>BMI Calculator</h1>
<form action="/calculate" method = post>
    <p>Weight: <input type="text" name="weight"></p>
    <p>Height: <input type="text" name="heigthInCentimenters"></p>
    <input type="submit" value="OK">
</form>
<br>
<br>
<img src="images/body-mass-index-medical-infographic-ar-plastic-surgery.jpg" alt="BMI index" class="center">
</body>
</html>